body{
    margin:0;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    background: linear-gradient(rgb(243, 243, 123),white);
    -webkit-font-smoothing: antialiased;
    -moz-osx-smoothings:grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
